
.img_banner{
    width: 100%;
    height: 60vh; 
    background-image: url('../../assets/image/bannerbus5.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}