.bookingForm-container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.bookingForm-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
  margin-top: 30px;
  height: 120px;
}

.bookingForm-input {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.5);
  flex: 1;
  width: 320px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1);
}

.bookingForm-input label {
  font-weight: bold;
  margin-bottom: 5px;

}

.bookingForm-input select,
.bookingForm-input input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.bookingForm-input select:focus,
.bookingForm-input input:focus {
  outline: 2px solid rgba(59, 89, 152, 0.4);
}

.bookingForm-input-top {
  display: flex;

}

.bookingForm-input-top svg {
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.bookingForm-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  margin: 10px;
  font-size: 20px;
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1);
}

.bookingForm-button:hover {
  background-color: #002897;
}

.bookingForm-button svg {
  margin-right: 8px;
}


.bookingForm-process {
  border-top: 1px solid #B0B0B0;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.bookingForm-process h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #405187;
}

.bookingForm-steps {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.bookingForm-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 30px;
}

.bookingForm-icon {
  font-size: 20px;

  background-color: #f2f2f2;
  border: 2px dashed #999;
  border-radius: 50%;
  display: flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.bookingForm-icon svg {
  color: #224498;
}


.bookingForm-arrow {
  font-size: 40px;
  margin-top: 50px;
  border-radius: 50px;
}

.bookingForm-arrow svg {
  color: rgba(128, 128, 128, 0.785);
}

.bookingForm-step p {
  font-size: 16px;
  max-width: 160px;
  margin-top: 10px;
}


/* stepbooking */
.booking-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.booking-steps,
.ticket-section {
  width: 48%;
}

.booking-title,
.ticket-title {
  font-size: 1.5em;
  color: #333;
}

.steps-list,
.purchase-options {
  padding-left: 20px;
}

.step-item{
  margin-bottom: 10px;
}
.purchase-item {
  margin-bottom: 10px;
  font-weight: bold;
}

.payment-step-options {
  margin-top: 10px;
  display: flex;
}

.payment-methods {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.payment-icon {
  width: 50px;
  height: auto;
  margin-right: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(128, 128, 128, 0.2);
}

.payment-description {
  font-size: 0.9em;
}

.purchase-options .website-link {
  color: #007bff;
  text-decoration: none;
}

.website-link:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.social-icon {
  border-radius: 5px;
  width: 50px;
  height: auto;
  margin-right: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(128, 128, 128, 0.2);
}

.hotline-number {
  color: #ff6347;
  font-weight: bold;
}

.map-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.step-item {
  display: flex;
  align-items: center;
}

.title-center{
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  color: #405187;
}

.hr_center{
  width: 1px;
  height: 450px;
  background-color: #B0B0B0;
}
@media only screen and (max-width: 46.1875em) {
  .bookingForm-search {
    flex-direction: column;
    height: 400px;
  }

  .bookingForm-container {
    width: 380px;
  }

  .bookingForm-button {
    width: 320px;
    height: 50px;
  }


  .bookingForm-steps {
    margin: 0px;
  }

  .bookingForm-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 25px;
    margin-bottom: 2%;
  }

  .bookingForm-arrow {
    font-size: 15px;
    margin-top: 20px;
    border-radius: 50px;
  }

  .bookingForm-step p {
    font-size: 10px;
    max-width: 140px;
    margin-top: 10px;
  }

  .bookingForm-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2%;
  }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .bookingForm-search {
    flex-direction: column;
    height: 400px;
  }

  .bookingForm-container {
    width: 824px;
  }

  .bookingForm-button {
    width: 100%;
    height: 50px;
  }

  .bookingForm-input {
    width: 100%;

  }

  .bookingForm-steps {
    margin: 0px;
  }

  .bookingForm-icon {
    width: 90px;
    height: 90px;
    font-size: 50px;
  }

  .bookingForm-arrow {
    font-size: 40px;
    margin-top: 20px;
    border-radius: 50px;
  }

  .bookingForm-step p {
    font-size: 16px;
    max-width: 140px;
    margin-top: 10px;
  }
}