.dichVu-container{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}
.dichVu-container-top p h3{
    display: inline-block;
    padding-right: 5px;
    color: #405187;
}
.dichVu-container-top h4{
    color: #405187;
    margin-bottom: 15px;
}
.dichVu-container-top img{
    width: 100%;
    margin-bottom: 25px;
}
.dichVu-container-center{
    margin-top: 40px;
}
.dichVu-container-center-h3-title {
    text-align: center;
    font-size: 40px;
    color: #405187;
}
.dichVu-container-center-items{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.dichVu-container-center-items .dichvu-contaner-center-items-item1 .dichvu-contaner-center-items-item1-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.dichVu-container-center-items .dichvu-contaner-center-items-item1 .dichvu-contaner-center-items-item1-title button {
    color: white;
    background: #405187;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 40px;
    font-size: 30px;
    width: 250px;
    font-weight: 600;
}
.dichVu-container-center-items .dichvu-contaner-center-items-item1 ul {
    background: #405187;
    padding: 10px 20px;
    border-radius: 10px;
    list-style-type: none; 
    padding-left: 30px; 
}

.dichVu-container-center-items .dichvu-contaner-center-items-item1 ul li {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px; 
    padding-left: 40px;
}

.dichVu-container-center-items .dichvu-contaner-center-items-item1 ul li::before {
    content: '•';
    font-size: 40px; 
    color: #D9D9D9; 
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%); 
}
.dichVu-container-center-items .dichvu-contaner-center-items-item1 ul li span{
    font-size: 10px;
    font-weight: 300 !important;
}
.dichVu-container-center-hotline{
    display: flex;
    margin-top: 30px;
    justify-content: space-between   ;
}
.dichVu-container-center-hotline h3:nth-child(1){
    color: white;
    background: #405187;
    text-align: left;
    padding:10px 35px;
    font-weight: 600;
    width: 50%;
    border-radius: 0 40px 0 0;
}
.dichVu-container-center-hotline h3:nth-child(2){
color:#405187 ;
text-align: center;
width: 50%;
font-weight: 600;
}
.dichVu-container-center-hotline-bottom{
    background: #405187;
   height: 50px;

}
.dichVu-container-bottom{
    margin-top: 35px;
}
.dichVu-container-bottom .dichVu-container-bottom-content p h3 {
    display: inline-block;
    padding-right: 5px;
    color: #405187;
}
.dichVu-container-bottom  h4{
    color: #405187;
    margin-bottom: 20px;
    margin-top: 5px;
}
.dichVu-container-bottom img{
    width: 100%;
}




