.gioithieu-container{
    margin: 0 auto;
    margin-top: 20px;

    width: 1320px;
    
}
.gioithieu-h2{
    text-align: center;
    margin-bottom: 20px;
}
.gioithieu-container img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 46.1875em) {
    .gioithieu-container{
        max-width: 380px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .gioithieu-h2{
        font-size: 13px;
        margin-top: 70px;
    }
    .gioithieu-content{
        font-size: 14px;
    }
}