.heading-container{
  width: 1320px;
  margin: 0 auto;
}
.heading-container h3{
    text-align: center;
    font-size: 25px;
    font-weight: 550;
}
.heading-container .heading-items{
    display: flex;
    justify-content: space-between;
}
.heading-container .heading-items .heading-items1{
    width: 18%;
}
.heading-container .heading-items .heading-items1 img{
    width: 100%;
    margin-bottom: 10px;
}
.heading-container .heading-items .heading-items1 p{
    text-align: center;
    font-weight: medium;
}

