.newDetails-container {         
    margin-top: 40px;
    margin: 0 auto;
    width: 1200px;   
}

.newDetails-container-title h3 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
}
.newDetails-container-title a {
    font-weight: unset;
    color: gray;
}

.newDetails-container .newDetails-container-main p {
    font-size: thin;
}

.newDetails-container .newDetails-container-main img {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.newDetails-container .newDetails-container-main {
    border-bottom: 1px solid black;
}

.newDetails-container-bottom {
    margin-top: 20px;
}

.newDetails-container-bottom h3 {
    font-size: 30px;
}

.newDetails-container-bottom p {
    font-weight: 600;
    margin-top: 10px;
}

/* Responsive for mobile */
@media only screen and (max-width: 46.1875em) {
    .newDetails-container {
        margin: 20px auto; 
        max-width: 100%; 
        padding: 20px;
    }

    .newDetails-container-title h2 {
        font-size: 22px; 
        margin-bottom: 15px;
        margin-top: 35px; 
    }

    .newDetails-container .newDetails-container-main p {
        font-size: 14px; 
    }

    .newDetails-container-bottom h3 {
        font-size: 22px; 
    }

    .newDetails-container-bottom p {
        font-size: 14px; 
    }

    .newDetails-container .newDetails-container-main img {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
