.qrCode-container {
    width: 1200px;
    margin: 20px auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}
.qrCode-payContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
.qrCode-paymentSection {
    margin: 10px;
    width: 70%;
}
.qrCode-paymentSection{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
} .qrCode-customerInfo {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;

}
.qrCode-headerPayment h2, .qrCode-customerInfo h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.779);
    border-bottom: 1px solid rgba(128, 128, 128, 0.427) ;
    padding-bottom: 10px;
}
.qrCode-headerPayment p, .qrCode-customerInfo p {
    margin-bottom: 8px;
    font-size: 16px;
    background-color: #CCA9B3;
    color: black;
    padding: 10px 20px;
    margin: 0 -20px;
    border: 1px solid inherit;
    border-radius: 10px;
}
.qrCode-paymentOptions {
    margin-bottom: 20px;
}
.qrCode-paymentOptionsItem {
    margin-bottom: 10px;
}
.qrCode-paymentOptionsItem input {
    margin-right: 10px;
}
.qrCode-priceSummary {
    padding-top: 10px;
}
.qrCode-priceSummary p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.qrCode-priceSummary .qrCode-total {
    font-weight: bold;
}

.qrCode-hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}
.qrCode-agreementText {
    font-size: 14px;
    color: #555;
    margin-top: 20px;
}
.qrCode-agreementText a {
    color: #007bff;
    text-decoration: none;
    margin-left: 5px;
}
.qrCode-agreementText a:hover {
    text-decoration: underline;
}
.qrCode-sectionTicket{
    color: red;
    font-size: 20px;

}
.qrCode-customerInfo h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.qrCode-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.qrCode-btnPrimary, .qrCode-btnSecondary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.qrCode-btnPrimary {
    background-color: #405187;
    color: white;
}
.qrCode-btnSecondary {
    background-color: #ccc;
    color: white;
    cursor: not-allowed;
}
.qrCode-headerPayment {
    display: flex;
    justify-content: center;  
    align-items: center; 
    position: relative; 
}

.qrCode-headerPayment img {
    width: 250px;
    margin-bottom: 10px;
}

.qrCode-headerPayment .check-icon {
    position: absolute;
    top: 13px;  
    right: 200px; 
    color: #00c38b;
    font-size: 70px;
}


.qrCode-paymentSection-p{
    margin-top: 10px;
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 550;
}
.qrCode-infoBox-h4{
    color: red;
    font-size: 17px;
    margin-bottom: 10px;
}
.qrCode-infoBox p{
    margin-top: 10px;
}
.qrCode-paymentOptionsItem {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.qrCode-scheduleHeader{
    display: flex;
        color: black;
        justify-content: space-between;
        border-radius: 4px 4px 0 0;
        width: 100%;
}
.qrCode-ticketContainer {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
 
}
.qrCode-ticketTable {
    width: 100%;
    border-collapse: collapse;
}
.qrCode-ticketTable td {
    padding: 4px 0;
    border: none;
}
.qrCode-sectionTitle {
    font-weight: bold;
    text-align: left;
    padding: 5px 0;
    font-size: 17px;
    color: #405187;
    text-align: center;
}
.qrCode-buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.qrCode-btnPrimary {
    background-color: #405187;
    color: white;
    border: none;
    padding: 8px 25px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}
.qrCode-btnPrimary:hover {
    background-color: #28396F;
}
.qrCode-btnSecondary {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
}
.qrCode-paymentOptionsItem {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    height: 70px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.qrCode-paymentOptionsItem:hover label {
    font-weight: bolder;
    color: #405187;
}
.qrCode-paymentOptionsItem label {
    line-height: 50px;
    cursor: pointer;
}
.qrCode-paymentOptionsItem img {
    width: 70px;
}
.qrCode-paymentOptionsItem input {
    width: 20px;
}
@media only screen and (max-width: 46.1875em) {
    .qrCode-container {
        width: 380px;
        margin: 20px auto;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
    }
    .qrCode-payContainer {
        flex-direction: column;
    }
    .qrCode-paymentSection, .qrCode-customerInfo {
        width: 350px;
    }
    .qrCode-ticketContainer {
        width: 100%;
    }
}
